<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Block direct access to admin routes on main domain
    RewriteCond %{HTTP_HOST} !^admin\.
    RewriteCond %{REQUEST_URI} ^/admin(/.*)?$ [NC]
    RewriteRule .* - [R=404,L]
    
    # Handle Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
